<header>
<div class="row">
  <!-- placeholder for the logo -->
  <div class="logo"> </div>
  <!-- <img src="logo0.jpg" alt="The geekingfrog" /> -->
  <div class="caption">
    <h1>Geekingfrog</h1>
    <h3><small>Geek stuff by a batrachian</small></h3>
  </div>
</div>

</header>

<div class="main-menu">
  <div class="row">
    <ul class="inline-list">
      {{#linkTo 'posts.index' tagName='li' href='false'}}
      {{#linkTo 'posts.index'}} Home {{/linkTo}}
      {{/linkTo}}
      </li>
      {{#if pages.isLoaded}}
      {{#each page in pages}}
      {{#linkTo page page tagName="li" href=false}}
      {{#linkTo page page}}
        {{ page.title }}
      {{/linkTo}}
      {{/linkTo}}
      {{/each}}
      {{/if}}
    </ul>
  </div>
</div>


<div class="row main-content">

  <div class="large-8 columns">
    {{ outlet }}
  </div>

  <!-- side menu -->
  {{ outlet sideMenu }}
</div>
