{{! Expect the current context to be a App.Post }}
<div class="header row">
  <div class="large-8 columns">
    <h4>{{#linkTo 'post' post}}{{{post.title}}} {{/linkTo}}</h4>
  </div>

  <div class="meta large-4 columns">
    <div class="date">Posted {{ dateFromNow date }} </div>
    {{#if tags.length}}
    <div class="tags">
      <i class="icon-tag"></i>
      {{#each tag in tags}}
      {{#linkTo 'tag' tag}} {{ tag.title }} {{/linkTo}}

      {{/each}}
    </div>

    {{/if}}
  </div>
</div> {{! end header }}

