<div class="row collapse">
  <form>
    <div class="large-9 columns">
      {{input type='text' placeholder='search' name='search' valueBinding="view.query"}}
    </div>
    <div class="large-3 columns">
      <input type="submit" class="button prefix" value="Search"/>
    </div>
  </form>
</div>

