<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>blog in ember</title>

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="assets/css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/frog.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/styles/github.css" type="text/css" />

    <!-- <script type="text/javascript" charset="utf&#45;8"> -->
      <!--   hljs.initHighlightingOnLoad(); -->
      <!-- </script>  -->

    {{#unless production}}
    <script src="/socket.io/socket.io.js"></script>
    <script>
        socket = io.connect('/');
        socket.on('reload', function() { location.reload() });
    </script>
    {{/unless}}


  </head>
  <body>

    {{#each scripts}}
    <script src="{{this}}" type="text/javascript" charset="utf-8"></script>
    {{/each}}
    <!-- <script src="blog.js" type="text/javascript" charset="utf&#45;8"></script> -->


    {{!
    google analytics
    }}
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-23517617-1']);
_gaq.push(['_trackPageview']);
_gaq.push(['_setSiteSpeedSampleRate', 100]);
_gaq.push(['_setDomainName', 'geekingfrog.com']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
  </body>

</html>

