<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>blog in ember</title>

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="assets/css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/frog.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/styles/github.css" type="text/css" />
    <script src="vendor/highlight.pack.js"></script>

    <script type="text/javascript" charset="utf-8">
      hljs.initHighlightingOnLoad();
    </script> 

    {{#unless production}}
    <script src="/socket.io/socket.io.js"></script>
    <script>
        socket = io.connect('/');
        socket.on('reload', function() { location.reload() });
    </script>
    {{/unless}}


  </head>
  <body>

      <script src="vendor/lodash.js" type="text/javascript" charset="utf-8"></script>
      <script src="vendor/jquery-1.9.1.js" type="text/javascript" charset="utf-8"></script>
      <script src="vendor/handlebars-1.0.0-rc.3.js" type="text/javascript" charset="utf-8"></script>
      <script src="vendor/ember-1.0.0-rc.3.js" type="text/javascript" charset="utf-8"></script>
      <script src="vendor/moment.js" type="text/javascript" charset="utf-8"></script>
      <!-- <script src="templates.js" type="text/javascript" charset="utf&#45;8"></script> -->
      <!-- <script src="vendor/ember&#45;data.js" type="text/javascript" charset="utf&#45;8"></script> -->
      <script src="blog.js" type="text/javascript" charset="utf-8"></script>

      <script type="text/javascript" charset="utf-8">
        $(document).ready( function(){
            $('.more').click(function(ev){
              var id = $(this).attr('data-for-post');
              selector = '[data-post-id='+id+']';
              $(selector).show();
              debugger;
              });
            });
</script>
    </body>

  </html>

